<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>智训翼体：基于飞桨AI的云边端协同体育教学系统 - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="height: 100vh;">
                <div class="container-fluid">
                    <div class="text-center mt-5">
                        <div class="mx-auto error" data-text="404">
                            <p class="m-0">404</p>
                        </div>
                        <p class="lead text-dark mb-5">Page Not Found</p>
                        <p class="text-black-50 mb-0">小知识：在长跑时，采用稳定的呼吸节奏，可以提供充足的氧气供应给肌肉，延缓疲劳。通常建议采用“3步1呼、2步1吸”的呼吸节奏</p><a href="/">← 返回登录界面</a>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div><a class="d-inline border rounded scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/chat.js"></script>
    <script src="../static/js/table.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="../static/js/video.js"></script>
    <script src="../static/js/js/bs-init.js"></script>
</body>

</html>